{% extends "base.html" %}


{% load static %}
{% block content %}


	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
                <a class="btn btn-outline-dark" href="/pizza">&#x2190;Continue Shopping</a>
			</div>

			<br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                    <th><h5>Total: <strong>{{ order.get_cart_total }}</strong></h5></th>

                </tr>
            </table>
        </div>

        <br>

			<div class="box-element">
                <div class="cart-row">
                    <div style="flex:2" ></div>
                    <div style="flex:2" ><strong>Product</strong></div>
                    <div style="flex:1" ><strong>Price</strong></div>
                    <div style="flex:1" ><strong>Quantity</strong></div>
                    <div style="flex:1" ><strong>Total</strong></div>
                </div>


                {% if order_items %}
                {% for item in order_items %}


                    <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.pizza.pizzaimage_set.first.image }}"></div>

                <div style="flex:2"><p>{{ item.pizza.name }}</p></div>
                    <div style="flex:1"><p>{{ item.pizza.base_price }}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{ item.quantity }}</p>
                    <div class="quantity">
                        <img data-pizza="{{ item.pizza.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                        <img data-pizza="{{ item.pizza.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                    </div>
                    <button class="delete update-cart" data-pizza="{{ item.pizza.id }}" data-action="delete">Delete</button>

                <br>
                </div>




                <p></p>
                </div>

                <div style="flex:1"><p>${{ item.get_total }}</p></div>

                {% endfor %}
                {% else %}


                <p>Your cart is empty.</p>
                {% endif %}

                {% if order_items_offer %}
                {% for item in order_items_offer %}


                    <div class="cart-row">

                <div style="flex:2"><p>{{ item.offer.name }}</p></div>
                    <div style="flex:1"><p>{{ item.offer.offer_price}}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{ item.quantity }}</p>
                    <div class="quantity">
                        <img data-pizza="{{ item.offer.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                        <img data-pizza="{{ item.offer.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                    </div>
                    <button class="delete update-cart" data-pizza="{{ item.offer.id }}" data-action="delete">Delete</button>

                <br>
                </div>




                <p></p>
                </div>


                {% endfor %}
                {% else %}


                <p>Your cart is empty.</p>
                {% endif %}

                </div>
            <a style="float: right; margin:5px" class="btn btn-succes" href="checkout" >Checkout</a>
			</div>
		</div>
{% endblock content %}





