.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.navbar {
    background: black !important;
    border: black !important;

}

.navbar .navbar-nav li a {
    color: white !important;
}



.navbar .navbar-nav li a:hover {
    color: red !important;
}




.navbar .navbar-nav li a:hover {
    color: red !important;
}





a.navbar-brand {
    color: white !important;
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.pizzas {
    display: flex;
    flex-wrap: wrap;
}

.offers{
    display: flex;
    flex-wrap: wrap;
}

.pizzaImage{
    width: 300px;
    height: 300px;
}

.offerImage{
    width: 300px;
    height: 300px;
}



.pizzaImage:hover{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    cursor: crosshair;


}

.pizzaImageDetail{
    width: 500px;
    height: 500px;
    border: solid 1px black;

}

.offerImage:hover{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    cursor: crosshair;


}

.offerImageDetail{
    width: 500px;
    height: 500px;
    border: solid 1px black;

}


.red{
    color: red;

}

.wellPizza{
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    height: 100%;
}

.wellOffer{
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    height: 100%;
}




.cart-row{
    display: flex;
    align-content: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.row-image {
    width: 100px;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}


.chg-quantity:hover{
    opacity: .6;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}


@media screen and (max-width: 1199px) {
    .wellPizza{
        width: 100%;
    }
    .pizzas
    {
        width: 100%;
    }
    .pizzaImage{
    width: 50%;
    height: 50%;
}

    .wellOffer{
        width: 100%;
    }

    .cart-row{
        width: 100%;
    }


}

.dropdownOrderBy {
  position: relative;
  display: inline-block;
}

.dropbuttonOrderBy {
  font-size: 14px;
  border: black;
  outline: black;
  color: white;
  background-color: #e31837;
  padding: 14px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.reset-btn{
    font-size: 14px;
  border: black;
  outline: black;
  color: white;
  background-color: #e31837;
  padding: 14px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.dropdownOrderBy-content {
  display: none;
  background-color: #006491;
  position: absolute;
  z-index: 1;
}

.dropdownOrderBy-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownOrderBy-content a:hover {
  background-color: #f1f1f1
}

.dropdownOrderBy:hover .dropdownOrderBy-content {
  display: block;
}

.dropdownOrderBy:hover .dropbuttonOrderBy {
  background-color: #e31837;
}

