{% extends "base.html" %}
{% block content %}

    <div class="homepage-image">
<p>WELCOME</p>
    <p>TO</p>
    <p>THE</p>
    <p>PIZZA</p>
    <p>LAIR</p>
    <p>A</p>
    <p>PLACE</p>
    <p>FOR</p>
    <p>PIZZA</p>
    <p>LOVERS</p>
    <p>EVERYWHERE</p>
    <p>TO</p>
    <p>SHARE</p>
    <p>THEIR</p>
    <p>LOVE</p>
    <p>OF</p>
    <p>PIZZA</p>
    <p>WITH</p>
    <p>THE</p>
    <p>WORLD</p>
    <p>AND</p>
    <p>TO</p>
    <p>EXPLORE</p>
    <p>THE</p>
    <p>WORLD</p>
    <p>OF</p>
    <p>PIZZA</p>
    <p>TOGETHER</p>
    <p>AS</p>
    <p>A</p>
    <p>COMMUNITY</p>
    <p>OF</p>
    <p>PIZZA</p>
    <p>LOVERS</p>
    </div>




{%endblock %}
