{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Pizzas</h1>
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Enter your search here..." id="search-box"/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>

    <div class="dropdownOrderBy">
        <button class="dropbuttonOrderBy">Order By</button>
        <div class="dropdownOrderBy-content">
            <a href="?order_by=name">Name</a>
            <a href="?order_by=base_price">Price</a>
        </div>
    </div>

    <div class="dropdownOrderBy">
        <button class="dropbuttonOrderBy">Filter By Category</button>
        <div class="dropdownOrderBy-content">
        {% for pizza in pizzas %}
            <a href="?category={{ pizza.category.name }}">{{ pizza.category.name }}</a>
        {% endfor %}
        </div>
    </div>

    <div class="pizzas">
    {% for pizza in pizzas %}
        {% include 'pizza/single_pizza.html' with pizza=pizza %}
    {% endfor %}
    </div>

{% endblock %}