{% extends "base.html" %}

{% block content %}
    <div class="pizzaDetail">
    <h1>{{ pizza.name }}</h1>
    <p>{{ pizza.description }}</p>
    <p>{{ pizza.base_price }} ISK</p>
    {% for category in pizza.pizzacategory %}
        <p>{{ category.name }}</p>
    {% endfor %}
    {% for pizza_image in pizza.pizzaimage_set.all %}
        <img src="{{ pizza_image.image }}" alt="Pizza" class="pizzaImageDetail">
    {% endfor %}

    </div>
    <p></p>
    {% if user.is_authenticated %}
     <button>Add to cart</button>
    {% endif %}
{% endblock %}