{% extends "base.html" %}

{% block content %}
    <div class="pizzaDetail">
    <h1>{{ pizza.name }}</h1>
    <p>{{ pizza.description }}</p>
    <p>{{ pizza.base_price }} ISK</p>
    {% for pizza_image in pizza.pizzaimage_set.all %}
        <img src="{{ pizza_image.image }}" alt="Pizza" class="pizzaImageDetail">
    {% endfor %}
        <p> {{ pizza.category.name }} </p>

    </div>
    <p></p>
    {% if user.is_authenticated %}
     <button data-pizza="{{pizza.id}}" data-action="add" class="update-cart">Add to cart</button>
    {% endif %}
{% endblock %}