<div class="wellPizza">
    <a href="/pizza/{{ pizza.id }}">
        <img src="{{ pizza.pizzaimage_set.first.image }}" alt="" class="pizzaImage">
        <h4>{{ pizza.name }}</h4>


        {% for category_name in pizza.pizzacategory_set.all %}
            <p>{{ pizza_pizzacategory.name }}</p>
        {% endfor %}

        <p>{{ pizza.description }}</p>

    </a>
        <p>{{ pizza.base_price }} ISK</p>
        <p>Category: {{ pizza.category.name }}</p>
          {% if user.is_authenticated %}
     <button data-pizza="{{pizza.id}}" data-action="add" class="update-cart">Add to cart</button>
    {% endif %}
</div>