{% extends "base.html" %}
{% block content %}		<section id="locations">
			<h2>Our Locations in Iceland</h2>
			<ul>
				<li>
					<h3>Reykjavik</h3>
					<address>
						Laugavegur 52<br>
						Reykjavik, Iceland 101
					</address>
					<p>Phone: +354 555-1234</p>
					<p>Hours:</p>
					<ul>
						<li>Monday-Friday: 11am-10pm</li>
						<li>Saturday-Sunday: 11am-11pm</li>
					</ul>
				</li>
				<li>
					<h3>Akureyri</h3>
					<address>
                        Kaupvangsstræti 4<br>
						Akureyri, Iceland 600
					</address>
					<p>Phone: +354 555-5678</p>
					<p>Hours:</p>
					<ul>
						<li>Monday-Friday: 11am-9pm</li>
						<li>Saturday-Sunday: 11am-10pm</li>
					</ul>
				</li>
			</ul>
		</section>
{% endblock %}