{% extends "base.html" %}
{% block content %}
        <p>Where we believe that pizza can be delicious and nutritious!</p>
    <h2>Nutrition Facts</h2>
    <table>
      <tr>
        <th></th>
        <th>Amount per Serving</th>
        <th>% Daily Value*</th>
      </tr>
      <tr>
        <td>Calories</td>
        <td>300</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>Total Fat</td>
        <td>12g</td>
        <td>18%</td>
      </tr>
      <tr>
        <td>Saturated Fat</td>
        <td>6g</td>
        <td>30%</td>
      </tr>
      <tr>
        <td>Cholesterol</td>
        <td>30mg</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Sodium</td>
        <td>800mg</td>
        <td>33%</td>
      </tr>
      <tr>
        <td>Total Carbohydrate</td>
        <td>35g</td>
        <td>12%</td>
      </tr>
      <tr>
        <td>Dietary Fiber</td>
        <td>4g</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>Sugars</td>
        <td>5g</td>
        <td></td>
      </tr>
      <tr>
        <td>Protein</td>
        <td>16g</td>
        <td>32%</td>
      </tr>
    </table>
    <h2>Our Pizzas</h2>
    <p>Our pizzas are made with fresh dough that is hand-tossed and baked to perfection. We use only the finest ingredients, including our homemade tomato sauce, which is made from ripe, juicy tomatoes, and a blend of herbs and spices.</p>
    <p>We also use high-quality cheese, including mozzarella and Parmesan, to give our pizzas that cheesy goodness that we all love. And if you're looking for something a little different, we offer a range of other toppings, including pepperoni, mushrooms, onions, peppers, and more.</p>
    <p>But we also know that eating too much pizza can lead to unhealthy eating habits, which is why we offer a range of healthy toppings as well. For example, you can choose to add fresh veggies like spinach, arugula, or broccoli to your pizza. You can also opt for a whole wheat crust, which is higher in fiber and lower in calories than traditional pizza crusts.</p>
    <p>At Pizza Lair, we believe that eating well shouldn't mean sacrificing taste. That's why we offer a range of delicious and nutritious pizzas that are sure to satisfy your cravings while keeping you healthy. So why not come and visit us today and taste the difference for yourself?</p>

{% endblock %}