{% extends "base.html" %}
{% block content %}
    <h1>Profile</h1>
     <img src="{{ user.profile.image }}" class="profile-image" style="width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;"/>
    <form class="form form-horizontal" method="post" >
        {% csrf_token %}
        {{ form }}
        <div>Enter url for image</div>
            <input type="text" name="image" accept="images/*" />

        <input type="submit" class="btn btn-primary" value="Update"/>
    </form>
{% endblock %}


